@import "../../styles/modules/colors";
@import "../../styles/modules/fonts";

.Hackathon {
    background-color: darken($blue-dark, 5%);
    box-shadow: 0px 0px 10px 0px $blue-light;
    max-width: 55em;
    margin-top: 2em;
    margin-left: 2em;

    padding: 2em;
    color: $gray;

    .Hackathon-base {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Hackathon-name {
        font-size: 2rem;
        font-family: $font-primary;
    }

    .Hackathon-place {
        font-size: 1.2rem;
        letter-spacing: 0.05em;
        color: darken($gray, 15%);
        margin-top: 0.5em;
    }

    .Hackathon-logo {
        img {
            width: 10em;
        }
    }

    .Hackathon-description {
        font-size: 1.1rem;
        margin-top: 1em;
        line-height: 1.2;
    }

    .Hackathon-teams {
        margin-top: 1em;
        font-size: 1.3rem;
    }

    .Hackathon-links {
        display: flex;

        a:not(:first-child) {
            margin-left: 2em;
        }
    }

    .Hackathon-link {
        display: flex;
        align-items: center;
        color: $white;
        margin-top: 1em;
        font-size: 1.5em;

        span {
            margin-left: 0.5em;
        }
    }
}
