%Input {
  display: flex;
  align-items: center;
  margin-bottom: 1.25em;
}

%Input-error {
  font-size: 1.25rem;
  margin-left: 1em;
  color: $error;
}

%Submit-button {
  font-size: 1.2rem;
  border: 2px darken($gray, 15%);
  border-radius: 1em;
  padding: 1em 1.5em;
  background-color: $gray;
  color: $blue-dark;
  cursor: pointer;
  margin-right: 0.6em;
}