@import "../../styles/modules/colors";

.Profile {

}

.Profile-options {
  font-size: 1.3rem;
  margin-top: 2em;
  margin-left: 2em;
  color: $gray;
  display: flex;
}

.Profile-option {
  background-color: $black-light;
  display: flex;
  align-items: center;
  border-radius: 2em;
  padding: 0.4em 1em;
  width: max-content;
  margin-right: 1em;

  img {
    width: 54px;
    margin-right: 0.7em;
  }
}

.Profile-badge {
  position: relative;
  margin-left: 0.7em;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  background-color: $error;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
  }
}