@import "../../styles/modules/colors";
@import "../../styles/modules/fonts";

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-secondary;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

main {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.App {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: $blue-dark;
}