@import "../../styles/modules/fonts";
@import "../../styles/modules/colors";

.PageHeader {
  font-family: $font-primary;
  font-size: 3rem;
  padding: 0.8em 1em;
  background-color: darken($blue-dark, 5%);
  color: $gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5em;
}

.PageHeader-text {

}

.PageHeader-subtext {
  font-size: 1.5rem;
  color: darken($gray, 15%);
}

.PageHeader-image {
  img {
    width: 3em;
  }
}