@import "../../styles/modules/colors";

.timeline {
  border-left: 4px solid darken($blue-dark, 5%);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: rgba(255, 255, 255, 0.03);
  color: rgba(255, 255, 255, 0.8);
  margin: 3em 10.5em;
  position: relative;
  list-style: none;
  max-width: 60%;

  h3 {
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
  }

  .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    //padding-bottom: 25px;
    //margin-bottom: 50px;
    padding: 1em;
    position: relative;
  }
}


.timeline .event:last-of-type {
  //padding-bottom: 0;
  //margin-bottom: 0;
  border: none;
}

.timeline .event:before,
.timeline .event:after {
  position: absolute;
  display: block;
  top: 0;
}
.timeline .event:before {
  top: 50%;
  transform: translateY(-50%);
  left: -150px;
  color: rgba(255, 255, 255, 0.4);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.timeline .event:after {
  box-shadow: 0 0 0 4px darken($blue-dark, 5%);
  background: #313534;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 50%;
  left: -0.5em;
  transform: translateY(-50%);
}