@import "../../styles/modules/colors";
@import "../../styles/modules/fonts";

.Sidebar {
  width: 15em;
  color: $white;
  background-color: $black-light;
  font-size: 1.5rem;
}

.Sidebar-container {
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Sidebar-header {
  padding: 0.5em 0;
  font-size: 3rem;
  font-family: $font-primary;
  width: 100%;
  text-align: center;
}

.Sidebar-link {
  border: 0;
  padding: 0;
  width: 100%;
  cursor: pointer;
  display: block;
  margin-bottom: 0.5em;
}

.Sidebar-content {
  width: 100%;
  text-align: center;
}