@import "../../styles/modules/colors";
@import "../../styles/modules/forms";
@import "../../styles/vendors/adaptive-placeholders";

$adaptive-placeholder: (
        height: 3em,
        margin: 1.25em,
        border: 2px,
        border-radius: 1em,
        font-size: 1.3em,
        border-color: darken($gray, 15%),
        label-color: $gray,
        active-color: $active,
        valid-color: $success,
        placeholder-background-color: $blue-dark,
        textarea: false
);

.Login-form {
  margin: 3em 3em;

  input {
    font-size: 1rem;
    color: $gray;
    @include adaptive-placeholder();
  }

  label {
    margin-bottom: 0 !important;
  }
}

.Login-input {
  @extend %Input;
}

.Login-error {
  @extend %Input-error;
}

.Login-submit {
  @extend %Submit-button;
}